@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?e5jr");
  src: url("../fonts/icomoon.eot?e5jr#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?e5jr") format("truetype"), url("../fonts/icomoon.woff?e5jr") format("woff"), url("../fonts/icomoon.svg?e5jr#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram {
  height: 2.8rem;
  border-radius: 5px;
  margin-right: 5px;
}

.icon-mail:before {
  font-size: 2.5rem;
  content: "\e905";
  color: #29f;
  margin-right: 5px;
}

.icon-check:before {
  content: "\e904";
  position: relative;
  font-size: 5rem;
  color: #2b2;
  top: 25px;
}

.icon-thumbs-up:before {
  margin-right: 7px;
  content: "\1f336";
  font-size: 2.6rem;
  color: #2c2;
}

.icon-thumbs-down:before {
  content: "\e902";
  font-size: 2rem;
  color: #e00;
}

.icon-phone:before {
  content: "\e901";
  color: #2b2;
  margin-right: 5px;
}

.icon-ok:before {
  content: "\e900";
  color: #0e0;
}
